@model IEnumerable<online_store.Models.Application_phone>

<div>
    <div>@Ajax.ActionLink("Взять звонок", "Work_with_application_phone", "Admin", new { },
        new AjaxOptions { UpdateTargetId = "Admin_page_main_block_id" }, new { })</div>

    
    <div>@Ajax.ActionLink("Обновить", "Application_phone_list", "Admin", new { },
        new AjaxOptions { UpdateTargetId = "Admin_page_main_block_id" }, new { })</div>
    <div>
        @foreach (var i in Model)
        {
            <div>
                <p>@i.Id</p>
                <p>@i.Date</p>
                <p>@i.Date_comfortable</p>
            </div>
        }


    </div>

</div>
