@model online_store.Models.Discount

@{
    ViewBag.Title = "Discount_coupon_create";
}

<h2>Discount_coupon_create</h2>

@using (Html.BeginForm("Discount_coupon_create", "Admin"))
{
    <div>
        @Html.Label("Колличество")
      @Html.EditorFor(x1=>x1.Count_left)
        @Html.Label("Ключевое слово для активации")
        @Html.EditorFor(x1 => x1.Name)
        @Html.Label("Тэг на что распространяется")
        @Html.EditorFor(x1 => x1.Tag)
        @Html.Label("Предоставляемая скидка")
        
        @Html.EditorFor(x1 => x1.Discount_)


    </div>


}