@{
//model IEnumerable<string>//online_store.Models.Connect_basket
}

@{
    ViewBag.Title = "Basket_page";
}

<h2>Basket_page</h2>

<div>
    <h1>@Html.ActionLink("Активировать купон/просмотреть доступные","Coupons_page","Home",new { })</h1>
    @if (ViewBag.Havent_message != null)
    {
        <p>@ViewBag.Havent_message</p>
        <hr />
    }
    
    @if (((IEnumerable<int>)ViewBag.obj_list_id).Count() > 0)
    {
        foreach (var i in ((IEnumerable<int>)ViewBag.obj_list_id))
        {
            @Html.Action("Basket_one_object_partial", "Home", new { id = i })

        }
        <hr />
        <div class="Basket_page_all_price_block">
            <div class="Basket_page_all_price_block_lvl_2">
                <div>Покупок на сумму(без скидок): @ViewBag.All_price</div>
                <div>Покупок на сумму(со скидкой):@ViewBag.All_price_small</div>
            </div>
            @if (ViewBag.coupons == null)
            {
               @Html.Label("У вас нет купонов")
            }
            @if (ViewBag.coupons != null)
            {
                @Html.DropDownList("Discount_list",
                    new SelectList((List<online_store.Models.Discount_coupon>)ViewBag.coupons),
                    "Выберите купон",
                    new { })
            }
           


        </div>
        <div class="Basket_page_buy_but">@Html.ActionLink("Купить Все", "Buy_basket", "Home", new { }, new { @class = "link_standart_for_div" })</div>

    }
@if (((IEnumerable<int>)ViewBag.obj_list_id).Count() == 0)
{
    <h1>Ваша корзина пуста</h1>
    <h1>@Html.ActionLink("Присутпить к покупкам", "Index", "Home")</h1>
   
}
    </div>