
@{
    ViewBag.Title = "Index";
}
@Scripts.Render("~/scripts/Index.js")
@Scripts.Render("~/scripts/Slider.js")

<h2>Index</h2>


<div>
   
    <div>@Html.Hidden("count_obg_slider_1_id", ((int)ViewBag.count_obg_slider_1).ToString())
    
    </div>
    @Html.ActionLink("лист продуктов", "List_objects_type", "Home", new { }, new { })
   
    <!--УРОВЕНЬ 1-->

    <div>
        
        @Html.Hidden("count_id_slider_main_index", ((int)ViewBag.count_id_slider_main_index))
        <div id="Index_block_type_1_id" class="Index_block_type_1 div_inline_block">
            
        </div>
        
    </div>
    @{
int num = 0;
    }
    <div class="div_display_none">
        
         
 @foreach (var i in ViewBag.main_list_slider)
{
<div id=@string.Concat("Index_main_slider_one_slide_id", num)>
    <div class="Index_main_slider_one_view_block">
        <a href=@Url.Action((string)i.Action, ((string)i.Controller)) class="link_standart_for_div">
            @if (!string.IsNullOrEmpty(i.Path_image))
            {
                <img src=@i.Path_image />
            }
            @if (string.IsNullOrEmpty(i.Path_image) && i.Byte_image.Count() > 0)
            {
                <img src=@String.Format("data:image/jpeg;base64," + Convert.ToBase64String(i.Byte_image)) />
            }
        </a>

    </div>


</div>

     num++;
 }
        
       
    </div>


    <!--УРОВЕНЬ 2-->

    @if (ViewBag.Object_for_slider_1 != null && ViewBag.Object_for_slider_1.Count > 0)
    {
    <div class="Index_slider_1">
        <div id="Index_external_button_prev_slider_1_id" class="div_inline_block Index_external_button_prev_slider_1">
            <div onclick="Index_OBJECT.Prev_slider_1_click()" id="Index_button_prev_slider_1_id" class="Index_button_prev_slider_1"></div>
        </div>
        <div class="div_inline_block">
            <div class="div_display_none">
                @{ 
                    int int_num_for_slider_1 = 0;
                }
               

                
                @foreach (var i in ViewBag.Object_for_slider_1)
                {
                <div id=@string.Concat("Index_one_block_slider_1_id", int_num_for_slider_1) class="Index_one_block_slider_1_hid">
                    <div class="div_inline_block Index_one_block_slider_1">
                        <div class="Index_one_block_slider_1_hover">
                            <a href=@Url.Action("Object_view", "Home", new { id = i.Db.Id }) class="link_standart_for_div">
                                <div>
                                    <div class="Index_one_block_slider_1_img">

                                        @if (i.Images.Count > 0)
                                        {

                                            <img src=@String.Format("data:image/jpeg;base64," + Convert.ToBase64String(i.Images[0].Image)) />
                                        }
                                        @if (i.Images.Count == 0)
                                        {
                                            <img src="/Content/images/camera_200.png" />
                                        }

                                    </div>
                                    <div>
                                        @Html.Label(((string)i.Db.Name))
                                        @Html.Label(((string)i.Db.Category))
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                    int_num_for_slider_1 += 1;
                }
        </div>
           
                <div id="Index_one_block_slider_1_id_visible">

                </div>

            
           
        </div>
        <div id="Index_external_button_next_slider_1_id" class="Index_external_button_next_slider_1 div_inline_block">
            <div onclick="Index_OBJECT.Next_slider_1_click()" id="Index_button_next_slider_1_id" class="Index_button_next_slider_1"></div>
        </div>
    </div>
                    }
    <!--УРОВЕНЬ 3-->
    <div class="Index_lvl3_main_div">
        <div class="div_inline_block Index_lvl3_img_block_main">
            <div class="Index_lvl3_img"></div>
            <div class="Index_lvl3_img"></div>
            <div class="Index_lvl3_img"></div>
        </div>
        
       
        @{
            if (ViewBag.Object_for_slider_1 != null && ViewBag.Object_for_slider_1.Count > 0)
            {

            }
            num = 0;
        }

        

        <div class="Index_lvl3_slider div_inline_block" id="Index_lvl3_slider_id">
           

        </div>
        <div class="div_display_none">


            @foreach (var i in ViewBag.main_list_slider)
            {
                <div id=@string.Concat("Index_slider_one_slide_id_lvl2", num)>
                    <div class="Index_main_slider_one_view_block">
                        <a href=@Url.Action((string)i.Action, ((string)i.Controller)) class="link_standart_for_div">
                            @if (!string.IsNullOrEmpty(i.Path_image))
                            {
                                <img src=@i.Path_image />
                            }
                            @if (string.IsNullOrEmpty(i.Path_image) && i.Byte_image.Count() > 0)
                            {
                                <img src=@String.Format("data:image/jpeg;base64," + Convert.ToBase64String(i.Byte_image)) />
                            }
                        </a>

                    </div>


                </div>

                num++;
            }


        </div>

        <div class="div_inline_block Index_lvl4_img_block_main">
            <div class="Index_lvl3_img"></div>
            <div class="Index_lvl3_img"></div>
            <div class="Index_lvl3_img"></div>
        </div>
        <div class="Index_lvl4_slider div_inline_block" id="Index_lvl4_slider_id">


        </div>
        <div class="div_display_none"><!---->
            @{
                num = 0;
            }
            
            @if (((int)ViewBag.count_obg_slider_2) % 6 == 0)
            {
                @Html.Hidden("count_obg_slider_3", ((int)ViewBag.count_obg_slider_2) / 6)
            }
            @if (((int)ViewBag.count_obg_slider_2) % 6 != 0)
            {
               @Html.Hidden("count_obg_slider_3", ((int)ViewBag.count_obg_slider_2) / 6+1)
            }
            @for (int i = 0; i < ViewBag.Object_for_slider_2.Count;)
            {
               
                //фотка и строка с ценой\скидкой
                <div class="div_inline_block Index_slider_one_slide_id_lvl3_cl"  id=@string.Concat("Index_slider_one_slide_id_lvl3", num)>
                    @for (int i2 = 0; i2 < 6 && i < ViewBag.Object_for_slider_2.Count; ++i2, ++i)
                    {
                        <div class="Index_slider_3_block_1_object">
                            
                                <a href=@Url.Action("Object_view","Home",new {id=ViewBag.Object_for_slider_2[i2].Db.Id }) class="link_standart_for_div">
                                    <div class="Index_slider_3_block_1_object_img">
                                        @if (ViewBag.Object_for_slider_2[i2].Images.Count < 1)
                                        {
                                            <img id="" src="/Content/images/camera_200.png" />

                                        }
                                        @if (ViewBag.Object_for_slider_2[i2].Images.Count > 0)
                                        {

                                            <img src=@String.Format("data:image/jpeg;base64," +
                                            Convert.ToBase64String(ViewBag.Object_for_slider_2[i2].Images.Image)) />
                                        }
                                    </div>
                            <p>@ViewBag.Object_for_slider_2[i2].Db.Price</p>
                            </a>
                        </div>
                    }
                </div>
                num++;
            }
           
            


        </div>


    </div>

</div>
