
@{
    ViewBag.Title = "Index";
}
@Scripts.Render("~/scripts/Index.js")
@Scripts.Render("~/scripts/Slider.js")

<h2>Index</h2>


<div>
   
    <div>@Html.Hidden("count_obg_slider_1_id", ((int)ViewBag.count_obg_slider_1).ToString())</div>
    @Html.ActionLink("лист продуктов", "List_objects_type", "Home", new { }, new { })
    @Html.ActionLink("добавить продукт", "Add_object", "Admin", new { }, new { })
   
    <div>
        
        @Html.Hidden("count_id_slider_main_index", ((int)ViewBag.count_id_slider_main_index))
        <div id="Index_block_type_1_id" class="Index_block_type_1 div_inline_block">
            
        </div>
        
    </div>
    @{
int num = 0;
    }
    <div class="div_display_none">
        
         
 @foreach (var i in ViewBag.main_list_slider)
{
<div id=@string.Concat("Index_main_slider_one_slide_id",num)>
    <div class="Index_main_slider_one_view_block">
        <a href=@Url.Action((string)i.Action,((string)i.Controller)) class="link_standart_for_div">
            @if (!string.IsNullOrEmpty(i.Path_image))
            {
                <img src=@i.Path_image />
            }
            @if (string.IsNullOrEmpty(i.Path_image)&& i.Byte_image.Count()>0)
            {
                <img src=@String.Format("data:image/jpeg;base64," + Convert.ToBase64String(i.Byte_image)) />
            }
        </a>

    </div>


</div>

num++;
}
        
       
    </div>




    @if (ViewBag.Object_for_slider_1 != null&& ViewBag.Object_for_slider_1.Count>0)
    {
    <div class="Index_slider_1">
        <div id="Index_external_button_prev_slider_1_id" class="div_inline_block Index_external_button_prev_slider_1">
            <div onclick="Index_OBJECT.Prev_slider_1_click()" id="Index_button_prev_slider_1_id" class="Index_button_prev_slider_1"></div>
        </div>
        <div class="div_inline_block">
            <div class="div_display_none">
                @{ 
                    int int_num_for_slider_1 = 0;
                }
               

                
                @foreach (var i in ViewBag.Object_for_slider_1)
            {
                <div id=@string.Concat("Index_one_block_slider_1_id",int_num_for_slider_1) class="Index_one_block_slider_1_hid">
                    <div class="div_inline_block Index_one_block_slider_1">
                        <a href=@Url.Action("Object_view", "Home", new { id = i.Db.Id })>
                            <div>
                                <div class="Index_one_block_slider_1_img">

                                    @if (i.Images.Count > 0)
                                    {

                                        <img src=@String.Format("data:image/jpeg;base64," + Convert.ToBase64String(i.Images[0].Image)) />
                                    }
                                    @if (i.Images.Count == 0)
                                    {
                                        <img src="/Content/images/camera_200.png" />
                                    }

                                </div>
                                <div>
                                    @Html.Label(((string)i.Db.Name))
                                    @Html.Label(((string)i.Db.Category))
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                    int_num_for_slider_1 += 1;
                }
        </div>
           
                <div id="Index_one_block_slider_1_id_visible">

                </div>

            
           
        </div>
        <div id="Index_external_button_next_slider_1_id" class="Index_external_button_next_slider_1 div_inline_block">
            <div onclick="Index_OBJECT.Next_slider_1_click()" id="Index_button_next_slider_1_id" class="Index_button_next_slider_1"></div>
        </div>
    </div>
                    }
</div>
