
@{
    ViewBag.Title = "Index";
}
<script>
    //
    var First_num_slider_1 = 0;
    var Count_block_for_slider_1 = 0;
    var Count_in_list_slider_1 = 0;
    //
    var timer_slider_1;
    var time_slider_1;
    //


    function Next_slider_1_click() {
        Next_slider_1();
        clearTimeout(time_slider_1);
        clearInterval(timer_slider_1);
        time_slider_1 = setTimeout(
            Up_slider_1_time, 15000);
    } 
    function Prev_slider_1_click() {
        Prev_slider_1();
        clearTimeout(time_slider_1);
        clearInterval(timer_slider_1);
        

        time_slider_1 = setTimeout(
            Up_slider_1_time, 15000);
    } 
    function Next_slider_1() {
       
        var slider_1 = document.getElementById("Index_one_block_slider_1_id_visible");
        slider_1.innerHTML = "";
       
        for (var i = 0; i < Count_block_for_slider_1 && i < Count_in_list_slider_1; ++i) {
            var slider_1_block_1 = document.getElementById("Index_one_block_slider_1_id" + First_num_slider_1);
           
            if (slider_1_block_1 != null) {
                slider_1.innerHTML += slider_1_block_1.innerHTML;
                ++First_num_slider_1;
               
            }
            else {
                First_num_slider_1 = 0;//First_num_slider_1 + 1 - 6
                slider_1_block_1 = document.getElementById("Index_one_block_slider_1_id" + First_num_slider_1);
                if (slider_1_block_1 != null) {
                    slider_1.innerHTML += slider_1_block_1.innerHTML;
                    ++First_num_slider_1;
                }
                else {
                    return;
                }
            }
        }
        //var tmp_s4et = First_num_slider_1 + 1 - 6;//след элемент
        
        if (First_num_slider_1>=1)
        First_num_slider_1 -= 1;
    }
    function Prev_slider_1() {
        var num = First_num_slider_1 + 2*(1 - Count_block_for_slider_1);
        
        if (num < 0)
            num = Count_in_list_slider_1  + num;
        First_num_slider_1 = num;
        
        Next_slider_1();
       



    }
    function Up_slider_1_time() {
        time_slider_1 = setTimeout(function () {
            timer_slider_1 = setInterval(function () {
                Next_slider_1();
            }, 6000);
        }, 6000);
    }
    function Load_slider() {
        var width_ = document.documentElement.clientWidth;
         Count_block_for_slider_1 = Math.trunc((width_ - 200) / 165)-1;
       
         Count_in_list_slider_1 = +document.getElementById("count_obg_slider_1_id").value;
         Next_slider_1();
         
        
         if (Count_block_for_slider_1 < Count_in_list_slider_1) {
            

             Up_slider_1_time();
             
         }
         else {
             Hide_prev_next_block_slider_1();
         }

    }
    function Hide_prev_next_block_slider_1() {
        var prev = document.getElementById("Index_external_button_prev_slider_1_id");
        var next = document.getElementById("Index_external_button_next_slider_1_id");
        prev.innerHTML = "";
        next.innerHTML = "";
    }

    document.addEventListener("DOMContentLoaded", Load_slider);
    </script>
<h2>Index</h2>
<div>
    <div>@Html.Hidden("count_obg_slider_1_id", ((int)ViewBag.count_obg_slider_1).ToString())</div>
    @Html.ActionLink("лист продуктов", "List_objects_type", "Home", new { }, new { })
    @Html.ActionLink("добавить продукт", "Add_object", "Admin", new { }, new { })
    @Html.ActionLink("личная страница", "Personal_record", "Home", new { }, new { })
    
    <div class="Index_block_type_1">

    </div>
    @if (ViewBag.Object_for_slider_1 != null&& ViewBag.Object_for_slider_1.Count>0)
    {
    <div class="Index_slider_1">
        <div id="Index_external_button_prev_slider_1_id" class="div_inline_block Index_external_button_prev_slider_1">
            <div onclick="Prev_slider_1_click()" id="Index_button_prev_slider_1_id" class="Index_button_prev_slider_1"></div>
        </div>
        <div class="div_inline_block">
            <div class="div_display_none">
                @{ 
                    int int_num_for_slider_1 = 0;
                }
               

                
                @foreach (var i in ViewBag.Object_for_slider_1)
            {
                <div id=@string.Concat("Index_one_block_slider_1_id",int_num_for_slider_1) class="Index_one_block_slider_1_hid">
                    <div class="div_inline_block Index_one_block_slider_1">
                        <a href=@Url.Action("Object_view", "Home", new { id = i.Db.Id })>
                            <div>
                                <div class="Index_one_block_slider_1_img">

                                    @if (i.Images.Count > 0)
                                    {

                                        <img src=@String.Format("data:image/jpeg;base64," + Convert.ToBase64String(i.Images[0].Image)) />
                                    }
                                    @if (i.Images.Count == 0)
                                    {
                                        <img src="/Content/images/camera_200.png" />
                                    }

                                </div>
                                <div>
                                    @Html.Label(((string)i.Db.Name))
                                    @Html.Label(((string)i.Db.Category))
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                    int_num_for_slider_1 += 1;
                }
        </div>
           
                <div id="Index_one_block_slider_1_id_visible">

                </div>

            
           
        </div>
        <div id="Index_external_button_next_slider_1_id" class="Index_external_button_next_slider_1 div_inline_block">
            <div onclick="Next_slider_1_click()" id="Index_button_next_slider_1_id" class="Index_button_next_slider_1"></div>
        </div>
    </div>
                    }
</div>
