
@{
    ViewBag.Title = "List_objects_type";
}
@Scripts.Render("~/scripts/List_objects_type.js")

<h2>List_objects_type</h2>


@Html.Hidden("List_objects_type_search_hidden")
    <div id="List_objects_type_all_object_block_id">
    @Html.Action("List_objects", "Home", new { text_rearch = ViewBag.text_rearch,
    count_object_from_one_load = ((int)ViewBag.Page * (int)ViewBag.Take_object)})
</div>
    <div id="List_objects_type_load_block">


        @using (Ajax.BeginForm("List_objects", "Home",
                new AjaxOptions
                {
                    UpdateTargetId = "List_objects_type_all_object_block_id",
                    InsertionMode = InsertionMode.InsertAfter,
                    OnBegin = "List_objects_type_OBJECT.OnBegin_load_objects_LOT",
                    
                    OnComplete = "List_objects_type_OBJECT.OnComplete_load_objects_LOT",
                    LoadingElementId = "Main_preloader_id",
                    LoadingElementDuration =200

                }))
        {
            if (ViewBag.text_rearch != null)
            {
                @Html.Hidden("text_rearch",(string)ViewBag.text_rearch)
            }

            @Html.Hidden("count_object_on_page", ((int)ViewBag.Page * (int)ViewBag.Take_object))
            @Html.Hidden("count_object_from_one_load", ((int)ViewBag.Take_object))
            <input type="submit" class="submit" style="display:none;" id="List_objects_type_submit_objects_load_id" value="загрузить" />
        }


    </div>

