@model IEnumerable<online_store.Models.Comment_view>

@{ 
/*@if (Model.Count() == 0)
{

<div class="Personal_record_one_comment_block_empty">

</div>
}*/

}
@Html.Hidden("Load_comment_for_personal_record_count_request", (int)ViewBag.Count_in_list)
@foreach (var i in Model)
{

    <div id=@string.Concat("Personal_record_one_comm_num_id", i.Db.Id.ToString()) class="Personal_record_one_comment_block">

        <div class="div_inline_block">
            <div class="Personal_record_comment_one_img_block">
                @if (i.Image_object != null)
                {
                    <a href=@Url.Action("Object_view","Home",new {id=i.Db.Object_id })>
                        <img id="Personal_record_main_image_id" src=@String.Format("data:image/jpeg;base64," + Convert.ToBase64String(i.Image_object)) />
                    </a>
                }
                @if (i.Image_object == null)
                {
                    <a href=@Url.Action("Object_view","Home",new {id=i.Db.Object_id })>
                        <img id="Personal_record_main_image_id" src="/Content/images/camera_200.png" />
                    </a>
                }


            </div>
            @if (!string.IsNullOrEmpty(ViewBag.Person_name))
            {
                <div>
                    <p>@((string)ViewBag.Person_name)</p>
                </div>
            }
            <div class="Personal_record_Delete_Comment_button div_inline_block">
                @if (i.Db.Person_id == ViewBag.Person_id)
                {
                    @Ajax.ActionLink("Удалить", "Delete_Comment", "Home", new { id = i.Db.Id },
          new AjaxOptions { UpdateTargetId = string.Concat("Personal_record_one_comm_num_id", i.Db.Id.ToString()) },
          new { })
                    <a style="cursor:pointer;float:right;" onclick=@string.Concat("Edit_One_comment(", i.Db.Id,",",i.Db.Object_id,")")>Редактировать</a>
                    

                }


            </div>

        </div>
        <div class="div_inline_block Personal_record_one_comment_text">
            @if (!string.IsNullOrEmpty(i.Db.Text))
            {
                <div>@Html.Label("", i.Db.Text, new { id = string.Concat("Personal_record_text_one_comment_id", i.Db.Id), @class = "Personal_record_one_comment_text_lable" })</div>
            }
            @if (i.Db.Mark != null)
            {
                <div class="Personal_record_comm_block_mark">


                    @for (int i1 = 1; i1 < 6; ++i1)
                    {
                        if (i.Db.Mark >= i1)
                        {
                            <div class="Add_mark_for_object_yellow_star div_inline_block">
                            </div>
                        }
                        if (i.Db.Mark < i1)
                        {
                            <div class="Add_mark_for_object_white_star div_inline_block">
                            </div>
                        }

                    }





                </div>
            }

        </div>
       
            <div class="Mark_for_comment_replace_mark_block_class" id=@string.Concat("Mark_for_comment_replace_mark_block",i.Db.Id)>
                @Html.Action("Mark_for_comment", "Home", new { comment_id = i.Db.Id, click = false, mark = -1 })
            </div>
        @{ 
// <div class="Personal_record_mark_comment_block">
        }
        
       
    </div>





}