
<script>
    var t;
    function up() {
        var top = Math.max(document.body.scrollTop, document.documentElement.scrollTop);
        if (top > 0) {
            window.scrollBy(0, -100);
            t = setTimeout('up()', 20);
        } else clearTimeout(t);
        return false;
    }


    function isVisible(tag) {
        var t = $(tag);
        var w = $(window);
        var wt = w.scrollTop();
        var tt = t.offset().top;
        var tb = tt + t.height();
        return (tb <= wt) ;
    }

    $(function () {
        $(window).scroll(function () {
            var b = $("#Main_header_check_small_or_big_header");
            if (!b.prop("shown") && isVisible(b)) {
                b.prop("shown", true);
                var o = document.getElementById("Main_header_small_id")
                var o1 = document.getElementById("Main_header_back_to_top_id")
                o1.style.display = 'block';

                o.style.display = 'block';

            }
            else {
                if (b.prop("shown") && !isVisible(b)) {
                    b.prop("shown", false);
                    var o = document.getElementById("Main_header_small_id")
                    var o1 = document.getElementById("Main_header_back_to_top_id")
                    o1.style.display = 'none';
                    o.style.display = 'none';
                }
            }
        });
    });

</script>


<div class="Main_header_big">
    <div class="Main_header_big_v2">

        <div class="Main_header_search">
            @using (Html.BeginForm("List_objects_type", "Home"))
            {
                @Html.Editor("text_rearch")

                <input type="submit" class="submit" value="Искать" />
            }

        </div>


    </div>
    <div class="Main_header_big_under">
        <div class="div_inline_block Main_header_left_block">
            <div class="Main_header_sections_view">
                <ul class="Main_header_sections_list_ul">
                    @if (ViewBag.List_class_for_header != null)
                    {


                        foreach (var i in ViewBag.List_class_for_header)
                        {
                        <li>
                            <div class="Main_header_one_section_block div_inline_block">@i.Name
                                <div class="Main_header_hover_section_for_block">
                                    <div class="Main_header_hover_section_for_block_opac">
                                        @if (!string.IsNullOrEmpty(((string)i.line1_name)) && !string.IsNullOrEmpty(((string)i.line1_link)))
                                        {
                                            <div>@Html.ActionLink(((string)i.line1_name), ((string)i.line1_link), "Home", new { })</div>
                                        }
                                        @if (!string.IsNullOrEmpty(((string)i.line2_name)) && !string.IsNullOrEmpty(((string)i.line2_link)))
                                        {
                                            <div>@Html.ActionLink(((string)i.line2_name), ((string)i.line2_link), "Home", new { })</div>
                                        }
                                        @if (!string.IsNullOrEmpty(((string)i.line3_name)) && !string.IsNullOrEmpty(((string)i.line3_link)))
                                        {
                                            <div>@Html.ActionLink(((string)i.line3_name), ((string)i.line3_link), "Home", new { })</div>
                                        }
                                        @if (!string.IsNullOrEmpty(((string)i.line4_name)) && !string.IsNullOrEmpty(((string)i.line4_link)))
                                        {
                                            <div>@Html.ActionLink(((string)i.line4_name), ((string)i.line4_link), "Home", new { })</div>
                                        }
                                        @if (!string.IsNullOrEmpty(((string)i.line5_name)) && !string.IsNullOrEmpty(((string)i.line5_link)))
                                        {
                                            <div>@Html.ActionLink(((string)i.line5_name), ((string)i.line5_link), "Home", new { })</div>
                                        }
                                        @if (!string.IsNullOrEmpty(((string)i.line6_name)) && !string.IsNullOrEmpty(((string)i.line6_link)))
                                        {
                                            <div>@Html.ActionLink(((string)i.line6_name), ((string)i.line6_link), "Home", new { })</div>
                                        }
                                        @if (!string.IsNullOrEmpty(((string)i.line7_name)) && !string.IsNullOrEmpty(((string)i.line7_link)))
                                        {
                                            <div>@Html.ActionLink(((string)i.line7_name), ((string)i.line7_link), "Home", new { })</div>
                                        }
                                        @if (!string.IsNullOrEmpty(((string)i.line8_name)) && !string.IsNullOrEmpty(((string)i.line8_link)))
                                        {
                                            <div>@Html.ActionLink(((string)i.line8_name), ((string)i.line8_link), "Home", new { })</div>
                                        }
                                        @if (!string.IsNullOrEmpty(((string)i.line9_name)) && !string.IsNullOrEmpty(((string)i.line9_link)))
                                        {
                                            <div>@Html.ActionLink(((string)i.line9_name), ((string)i.line9_link), "Home", new { })</div>
                                        }
                                        @if (!string.IsNullOrEmpty(((string)i.line10_name)) && !string.IsNullOrEmpty(((string)i.line10_link)))
                                        {
                                            <div>@Html.ActionLink(((string)i.line10_name), ((string)i.line10_link), "Home", new { })</div>
                                        }

                                    </div>
                                </div>
                            </div>
                        </li>

                            }
                        }

                </ul>
            </div>
        </div>
        <div class="div_inline_block Main_header_right_block">

            <div class="">@Html.Partial("_LoginPartial")</div>


            <div class="Main_header_basket_link">@Html.ActionLink("Корзина", "Basket_page", "Home", new { }, new { @class = "link_standart_for_div link_without_prop" })</div>


        </div>
    </div>


</div>
<div id="Main_header_check_small_or_big_header">
</div>
<div class="Main_header_small" id="Main_header_small_id">
    <div class="Main_header_small_name div_inline_block">@Html.ActionLink("Online store", "Index", "Home", new { }, new { @class = "link_standart_for_div link_without_prop" })</div>
    <div class="Main_header_small_basket div_inline_block">@Html.ActionLink("Корзина", "Basket_page", "Home", new { }, new { @class = "link_standart_for_div link_without_prop" })</div>
    @Html.Partial("_LoginPartial")
</div>

<div onclick="up()" class="Main_header_back_to_top" id="Main_header_back_to_top_id">
   

</div>
