@model online_store.Models.Object_os_for_view

@{
    ViewBag.Title = "Object_view";
}
@Scripts.Render("~/scripts/Object_view.js")

<h2>Object_view</h2>
<div>
    <div class="div_inline_block Object_view_left_block">
      
        <div>@Html.Hidden("count_obg_slider_2_id", ((int)ViewBag.count_obg_slider_2).ToString())</div>
        <div class="div_inline_block">
            <div id="Object_view_external_button_prev_main_slider_id" class="Object_view_external_button_prev_main_slider">
                <div onclick="Object_view_OBJECT.Prev_slider_2_click()" id="" class="Object_view_main_slider_prev_button"></div>
            </div>

            <div class="Object_view_small_img_change_block" id="Object_view_small_img_change_block_id">


            </div>

            <div id="Object_view_external_button_next_main_slider_id" class="Object_view_external_button_next_main_slider">
                <div onclick="Object_view_OBJECT.Next_slider_2_click()" id="" class="Object_view_main_slider_next_button"></div>
            </div>
        </div>
        

      
        <div class="div_display_none">
            @{
                int s4_img_slider_main = 0;
            }
            @foreach (var i in Model.Images)
            {
                <div id=@string.Concat("Object_view_small_img_change_hidden",s4_img_slider_main)>
                    <div class="Object_view_small_img_change">
                        <img id=@string.Concat("Object_view_img_for_main_id",s4_img_slider_main) onclick="Object_view_OBJECT.change_image_click(this)" src=@String.Format("data:image/jpeg;base64," + Convert.ToBase64String(i.Image)) />
                    </div>
                </div>
                s4_img_slider_main += 1;
            }

        </div>
        <div class="Object_view_main_img_under div_inline_block">
            <div class="Object_view_main_img div_inline_block">
                @if (Model.Images.Count > 0)
                {

                    <img id="Object_view_main_image_id" src=@String.Format("data:image/jpeg;base64," + Convert.ToBase64String(Model.Images[0].Image)) />
                }
                @if (Model.Images.Count == 0)
            {
                    <img id="Object_view_main_image_id" src="/Content/images/camera_200.png" />
                }

            </div>
            <div>
                <div class="div_inline_block" id=@string.Concat("Object_follow_block_all_id", Model.Db.Id)>
                    @Html.Action("Object_follow", "Home", new { id = Model.Db.Id, click = false })
                </div>
                <div class="div_inline_block Object_add_basket_block_all_class" id=@string.Concat("Object_add_basket_block_all_id", Model.Db.Id)>@Html.Action("Object_add_basket", "Home", new { id = Model.Db.Id, click = false })</div>
                <div id=@string.Concat("Add_mark_for_object_partial_id",Model.Db.Id) class="Object_view_mark_main">@Html.Action("Add_mark_for_object", "Home", new { id = Model.Db.Id })</div>
            </div>
        </div>
        @if (((bool)ViewBag.admin) == true)
        {
            <div>
                @Html.ActionLink("Удалить", "Delete_object", "Admin", new { id = Model.Db.Id }, new { })
                @Html.ActionLink("Редактировать", "Add_object", "Admin", new { id = Model.Db.Id }, new { })
            </div>
        }
       
    </div>
    <div class="div_inline_block Object_view_right_block">
        <div>@Html.Label(Model.Db.Name)</div>
        <div>@Html.Label("Артикул" + Model.Db.Id.ToString())</div>


        <div>@Html.Label(Model.Db.Type)</div>
        <div>@Html.Label(Model.Db.Category)</div>
        <div>@Html.Label(Model.Db.Manufacturer)</div>
        <div>@Html.Label(Model.Db.Price.ToString())</div>
        <div>@Html.Label(Model.Db.Discount.ToString())</div>
        <div>@Html.Label(((int)(Model.Db.Price * (1 - Model.Db.Discount))).ToString())</div>
        <div>@Html.Label(Model.Db.Color)</div>
        <div>@Html.Label(Model.Db.Composition)</div>
        <div>@Html.Label(Model.Db.Description)</div>
        <div>@Html.Label(Model.Db.Count_buy.ToString())</div>







    </div>
    <hr />
    <h1>Комментарии:</h1>
    <div>
        @if (ViewBag.Can_commented <0)
        {
            <div>
                <h2>Оставьте комментарий</h2>
                @using (Html.BeginForm("Add_comment", "Home"))
                {
                    @Html.Hidden("id_object", Model.Db.Id)
                    @Html.TextArea("text",new {@class= "Object_view_text_area_comment" })
                    @Html.Hidden("mark", "-1")
                    <div>
                        @{
//TODO добавление оценки через звезды
                        }
                    </div>
                    <input type="submit" class="submit" value="Отправить" />

                            }
            </div>
                            }
        <div id="Object_view_all_comment_block_id_load">
            @Html.Action("Load_comment_for_object_view", "Home", new { com_us_id = (int)ViewBag.Can_commented, object_id = Model.Db.Id, count_comment_from_one_load = ((int)ViewBag.Count_comment_from_one_load) })
        </div>
        <div id="Object_view_type_load_block">


            @using (Ajax.BeginForm("Load_comment_for_object_view", "Home",
                new AjaxOptions
                {
                    UpdateTargetId = "Object_view_all_comment_block_id_load",
                    InsertionMode = InsertionMode.InsertAfter,
                    OnBegin = "Object_view_OBJECT.OnBegin_load_comments_Object_view",

                    OnComplete = "Object_view_OBJECT.OnComplete_load_comments_Object_view",
                    LoadingElementId = "Main_preloader_id",
                    LoadingElementDuration = 200

                }))
            {
                
                     @Html.Hidden("object_id", Model.Db.Id)
                @Html.Hidden("count_comment_on_page", ((int)ViewBag.Count_comment_from_one_load))
                @Html.Hidden("count_comment_from_one_load", ((int)ViewBag.Count_comment_from_one_load))
                <input type="submit" class="submit" style="display:none;" id="Object_view_submit_objects_load_id" value="загрузить" />
            }


        </div>
        




</div>





</div>
