@model online_store.Models.Person
@{
    ViewBag.Title = "Personal_record";
    //  @Html.Label(Model.Db.Info)
}
@Scripts.Render("~/scripts/Personal_record.js")

<h2>Personal_record</h2>


<div>

    <div class="Personal_record_info_block">
        <div class="div_inline_block Personal_record_left_block">
        </div>
        <div class="div_inline_block Personal_record_right_block">
            <div class="Personal_record_main_img_block">


                @if (Model.Db.Image != null)
            {

                    <img id="" src=@String.Format("data:image/jpeg;base64," + Convert.ToBase64String(Model.Db.Image)) />
                }
                @if (Model.Db.Image == null)
            {
                    <img id="" src="/Content/images/camera_200.png" />
                }
            </div>
            <div>
                @Html.ActionLink("Редактировать","Edit_personal_record","Home")
            </div>



        </div>
    </div>
    <hr />
@if (ViewBag.Baskets.Count > 0)
{
    <div class="Personal_record_show_basket_button" onclick="Personal_record_OBJECT.Show_basket()"><h1> > Корзина:</h1></div>

    <div id="Personal_record_basket_block_hidden_id" class="Personal_record_basket_block_hidden div_display_none">
        @foreach (var i in ViewBag.Baskets)
        {

            @Html.Action("Basket_one_object_partial", "Home", new { id = i.Object_id })

        }
    </div>

    <hr />
}
    
@if (ViewBag.Follow.Count > 0)
{
    <div class="Personal_record_show_follow_button" onclick="Personal_record_OBJECT.Show_follow()"><h1> > Избранное:</h1></div>

    <div id="Personal_record_follow_block_hidden_id" class="Personal_record_follow_block_hidden div_display_none">
       
            @foreach (var i in ViewBag.Follow)
            {

                @Html.Action("Follow_one_object_partial", "Home", new { id = i.Object_id })

            }

        </div>
        <hr />
        }

        @if (ViewBag.have_comments == true)
        {
            
            <div class="Personal_record_show_comments_button" onclick="Personal_record_OBJECT.Show_comments()"><h1> > Ваши комментарии и оценки:</h1></div>
          <div id="Personal_record_comments_block_id_hidden" class="div_display_none"><div class="Personal_record_comments_block" id="Personal_record_comments_block_id_load">
    @Html.Action("Load_comment_for_personal_record", "Home", new { id = Model.Db.Id, count_comment_from_one_load = ViewBag.count_comment_from_one_load })
</div>
<div class="Personal_record_type_load_object_block" id="Personal_record_comments_load_block">


    @using (Ajax.BeginForm("Load_comment_for_personal_record", "Home", new AjaxOptions
    {
        UpdateTargetId = "Personal_record_comments_block_id_load",
        InsertionMode = InsertionMode.InsertAfter,
        OnBegin = "Personal_record_OBJECT.OnBegin_load_comments_pers_rec",
        
        OnComplete = "Personal_record_OBJECT.OnComplete_load_comments_pers_rec",
        LoadingElementId = "Main_preloader_id",
        LoadingElementDuration = 200

    }, new { id = "Personal_record_comments_load_form_id" }))
    {

        @Html.Hidden("id", Model.Db.Id)
        @Html.Hidden("count_comment_on_page", ((int)ViewBag.count_comment_from_one_load))
        @Html.Hidden("count_comment_from_one_load", ((int)ViewBag.count_comment_from_one_load))
        <input type="submit" class="submit" style="display:none;" id="Personal_record_submit_comments_load_id" value="загрузить" />
    }


</div></div>
            
            <hr />
        }

        @if (ViewBag.have_purchase==true)
        {
            <div class="Personal_record_show_purchase_button" onclick="Personal_record_OBJECT.Show_Purchases()"><h1> > Ваши покупки:</h1></div>
            <div id="Personal_record_purchases_block_id_load" class="div_display_none">
                <div class="Personal_record_purchase_block" id="Personal_record_purchase_block_id_load">
                    @Html.Action("Load_purchase_list", "Home", new { id = Model.Db.Id, count_purchase_from_one_load = ViewBag.count_purchase_from_one_load })
                </div>
                <div  id="Personal_record_purchase_load_block">


                    @using (Ajax.BeginForm("Load_purchase_list", "Home", new AjaxOptions
                    {
                        UpdateTargetId = "Personal_record_purchase_block_id_load",
                        InsertionMode = InsertionMode.InsertAfter,
                        OnBegin = "Personal_record_OBJECT.OnBegin_load_purchases_pers_rec",
                       
                        OnComplete = "Personal_record_OBJECT.OnComplete_load_purchases_pers_rec",
                        LoadingElementId = "Main_preloader_id",
                        LoadingElementDuration = 200

                    }))
                    {

                        @Html.Hidden("id", Model.Db.Id)
                        @Html.Hidden("count_purchase_on_page", ((int)ViewBag.count_purchase_from_one_load))
                        @Html.Hidden("count_purchase_from_one_load", ((int)ViewBag.count_purchase_from_one_load))
                        <input type="submit" class="submit" style="display:none;" id="Personal_record_submit_purchase_load_id" value="загрузить" />
                    }


                </div>
            </div>
            
        }





    </div>

