@model online_store.Models.Person
@{
    ViewBag.Title = "Personal_record";
    //  @Html.Label(Model.Db.Info)
}

<h2>Personal_record</h2>
<script>
    function Edit_One_comment(id_comm,id_obj) {
        var block = document.getElementById("Personal_record_one_comm_num_id" + id_comm);
        var str = "<form action='/Home/Edit_comment' method='post'><input id='id_object' name='id_object' type='hidden' value='";
        str += id_obj + "' /><textarea class='Personal_record_text_area_comment' cols='20' id='text' name='text' rows='2'>";

        var block_text_b = document.getElementById("Personal_record_text_one_comment_id" + id_comm);
        var text = block_text_b.innerHTML;
        str += text + "</textarea><input id='mark' name='mark' type='hidden' value='-1' /><input id='from' name='from' type='hidden' value='Personal_record' />";
        str += "<div></div><input type='submit' class='submit' style='margin-top:15px;' value='Отправить' /></form>";

        block.innerHTML = str;

    }

</script>

<div>

    <div class="Personal_record_info_block">
        <div class="div_inline_block Personal_record_left_block">
        </div>
        <div class="div_inline_block Personal_record_right_block">
            <div class="Personal_record_main_img_block">


                @if (Model.Db.Image != null)
            {

                    <img id="" src=@String.Format("data:image/jpeg;base64," + Convert.ToBase64String(Model.Db.Image)) />
                }
                @if (Model.Db.Image == null)
            {
                    <img id="" src="/Content/images/camera_200.png" />
                }
            </div>
            <div>
                @Html.ActionLink("Редактировать","Edit_personal_record","Home")
            </div>



        </div>
    </div>
    <hr />
@if (ViewBag.Baskets.Count > 0)
{
    <h1>В корзине:</h1>
    <div class="div_scroll_y_block Personal_record_basket_block">
        @foreach (var i in ViewBag.Baskets)
            {
           
                @Html.Action("Basket_one_object_partial", "Home", new { id = i.Object_id })
            
        }

    </div>
    <hr />
}
    
@if (ViewBag.Follow.Count > 0)
{
    <h1>В Избранном:</h1>
    <div class="div_scroll_y_block Personal_record_follow_block">
        @foreach (var i in ViewBag.Follow)
        {
            
                @Html.Action("Follow_one_object_partial", "Home", new { id = i.Object_id })
            
        }

    </div>
    <hr />
}
   
@if (Model.Comments.Count > 0)
{
    <h1>Ваши комментарии и оценки:</h1>
    <div class="div_scroll_y_block Personal_record_comments_block">
        @foreach (var i in Model.Comments)
        {

            <div id=@string.Concat("Personal_record_one_comm_num_id", i.Db.Id.ToString()) class="Personal_record_one_comment_block">

                <div class="div_inline_block">
                    <div class="Personal_record_comment_one_img_block">
                        @if (i.Image_object != null)
                        {
                            <a href=@Url.Action("Object_view","Home",new {id=i.Db.Object_id })>
                                <img id="Personal_record_main_image_id" src=@String.Format("data:image/jpeg;base64," + Convert.ToBase64String(i.Image_object)) />
                            </a>
                        }
                        @if (i.Image_object == null)
                        {
                            <a href=@Url.Action("Object_view","Home",new {id=i.Db.Object_id })>
                                <img id="Personal_record_main_image_id" src="/Content/images/camera_200.png" />
                            </a>
                        }


</div>
                    @if (!string.IsNullOrEmpty(Model.Db.Name))
                    {
                        <div>
                            <p>@Model.Db.Name</p>
                        </div>
                    }
                    

                </div>
                <div class="div_inline_block Personal_record_one_comment_text">
                    @if (!string.IsNullOrEmpty(i.Db.Text))
                    {
                        <div>@Html.Label("", i.Db.Text,new {id=string.Concat("Personal_record_text_one_comment_id", i.Db.Id), @class = "Personal_record_one_comment_text_lable" })</div>
                    }
                    @if (i.Db.Mark != null)
                    {
                        <div class="Personal_record_comm_block_mark">


                            @for (int i1 = 1; i1 < 6; ++i1)
                            {
                                if (i.Db.Mark >= i1)
                                {
                                    <div class="Add_mark_for_object_yellow_star div_inline_block">
                                    </div>
                                }
                                if (i.Db.Mark < i1)
                                {
                                    <div class="Add_mark_for_object_white_star div_inline_block">
                                    </div>
                                }

                            }





                        </div>
                    }

                </div><div class="Personal_record_Delete_Comment_button div_inline_block">
                          @if (i.Db.Person_id == ViewBag.Person_id)
                          {
                              @Ajax.ActionLink("Удалить", "Delete_Comment", "Home", new { id = i.Db.Id },
          new AjaxOptions { UpdateTargetId = string.Concat("Personal_record_one_comm_num_id", i.Db.Id.ToString()) },
          new { })
                <div class="Personal_record_Edit_Comment_button"><button onclick=@string.Concat("Edit_One_comment(", i.Db.Id,",",i.Db.Object_id,")")>Ред.</button></div>
                              
                          }
                </div>
            </div>





        }
    </div>
    <hr />
}
    
    @if (Model.Purchases.Count > 0)
    {
        <h1>Ваши покупки:</h1>
        <div class="div_scroll_y_block Personal_record_purchases_block">

            @foreach (var i in Model.Purchases)
            {
                <div>
                    @Html.ActionLink("ID Покупки", "Purchase_view", "Home", new { id = i.Id }, new { })
                </div>
            }


        </div>
    }
    




</div>

